{% extends 'base.html' %}
{% load static %}

{% block js %}
<script src="{% static 'js/webcam.js' %}"></script>
{% endblock %}

{% block main %}
    <div class="container">
        <form method='POST' id='the-form'>
            {% csrf_token %}
            <div class="main-wrapper">
                <p><span id="errorMsg"></span></p>
                <div class="main-header">
                    <!-- Stream video via webcam -->
                    <div class="video-wrap">
                        <video id="video" playsinline autoplay></video>
                    </div>
                </div>
                <div class="main-box">
                    <!-- Trigger canvas web API -->
                    <div class="controller">
                        <a id="snap" class='btn btn-info btn-lg'>Capture</a>
                    </div>
                </div>
                <!-- Webcam video snapshot -->
                <canvas id="canvas" width="640" height="480"></canvas>

                <input type="hidden" name='captured-image' id='cimg'>
            </div>
            <button>Submit</button>
        </form>
    </div>
{% endblock %}